<div class="jumbotron">
  <h1>foursquare Stuff</h1>
</div>

<div class="row marketin" ng-controller="attractionCtrl">
  <div class="col-md-6">
    <ul class="list-group" ng-repeat="location in savedLocations">
      <li>
        <h4>{{location.attractionType}}</h4> 
      </li>
      <li>
        <h4>{{location.city}}</h4> 
      </li>
    </ul>
    <form name="reviewform" ng-controller="FoursquareCtrl" ng-submit="submitRequest(location)"> 
      <input type="text" ng-model="attractionType" placeholder="chooseAttraction"></input>
      <input type="text" ng-model="city" placeholder="chooseCity" id="geocodeCity"></input>
      <input type="submit" value="Submit"></input>
    </form>
  </div>
  <div class="col-md-6" id="common-max-height">
    <h2> results </h2>
    <div ng-repeat="attraction in savedAttractions">
      <h4>{{attraction.attractionName}}</h4>
      <img src="{{attraction.attractionImagePrefix}}400x300{{attraction.attractionImageSuffix}}">
      <p>{{attraction.attractionOpeningTimes}}
      <hr>
    </div>
  </div>
</div>